@import "tailwindcss";

:root {
  --main: #B6ACE4;      /* accent color */
  --bg: #f0eefc;        /* page background */
  --white: #ffffff;     /* component backgrounds */
  --black: #000000;     /* text and borders */
  --radius: 5px;        /* border radius */
  --shadow-brutal: 4px 4px 0px 0px var(--black);
}

@theme inline {
  --color-main: var(--main);
  --color-bg: var(--bg);
  --color-white: var(--white);
  --color-black: var(--black);

  --radius-base: var(--radius);
  --shadow-brutal: var(--shadow-brutal);
}

@utility focus-brutal {
  outline: none;
  box-shadow: 0 0 0 2px var(--black), 0 0 0 4px var(--white);
}

@utility transition-brutal {
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body {
  /* applica lo stile definito di bg e text dentro
     theme su tutta quanta la pagina */
  @apply bg-bg text-black;
}
