@import "tailwindcss";

:root {
  /* fallback: admin panel + primo render pre-fetch */
  --yellow: #ffdc58;
  --green: #7cf03d;
  --blue: #88aaee;
  --red: #ff6b6b;
  --main: var(--yellow);
  --bg: #f0eefc;
  --white: #fff;
  --black: #000;
  --radius: 5px;
  --shadow-brutal: 4px 4px 0px 0px var(--black);
}

@theme inline {
  /* in line perché usiamo le variabili statiche definite in :root */
  --color-yellow: var(--yellow);
  --color-green: var(--green);
  --color-blue: var(--blue);
  --color-red: var(--red);
  --color-main: var(--main);
  --color-bg: var(--bg);
  --color-white: var(--white);
  --color-black: var(--black);
  --radius-base: var(--radius);
}

@utility focus-brutal {
  outline: none;
  box-shadow:
    0 0 0 2px var(--black),
    0 0 0 4px var(--white);
}

@utility transition-brutal {
  transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

body {
  /* applica lo stile definito di bg e text dentro
     theme su tutta quanta la pagina */
  @apply bg-bg text-black;
}
